:root {
  --background-color: #072227;
  --nav-color: #065A60;
  --light-color: #006466;
  --hover-color: #4D194D;
  --main-color: #AEFEFF;
  --secondary-red-color: #f23b4d;
}

body {
  background-color: var(--background-color);
  margin: 0;
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

/* --------------------------- */
/* LOADER */
/* --------------------------- */
.loader-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  z-index: 1000000;
  display: inline-block;
  transition: all 1s;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  background-color: var(--background-color);
  z-index: 2;
}
.loader .face {
  position: absolute;
  border: 2px solid #121212;
}
.loader .face.face1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--nav-color);
  box-shadow: 0 0 10px black;
  border-radius: 50%;
  border-left: 10px solid var(--secondary-red-color);
  border-top: 10px solid var(--secondary-red-color);
  animation: animate-loader 3s linear infinite;
}
.loader .face.face2 {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background-color: var(--nav-color);
  box-shadow: 0 0 10px black;
  border-radius: 50%;
  border-right: 10px solid var(--main-color);
  border-bottom: 10px solid var(--main-color);
  animation: animate-loader 3s linear reverse infinite;
}
.loader .face .circle {
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 50%;
  height: 10px;
  transform-origin: left;
}
.loader .face.face1 .circle {
  transform: rotate(-45deg);
}
.loader .face.face2 .circle {
  transform: rotate(-45deg);
}
.loader .face .circle::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  top: -4px;
  right: -6px;
}
.loader .face.face1 .circle::before {
  background-color: var(--secondary-red-color);
  box-shadow: 0 0 20px var(--secondary-red-color), 0 0 40px var(--secondary-red-color), 0 0 60px var(--secondary-red-color), 0 0 80px var(--secondary-red-color), 0 0 100px var(--secondary-red-color), 0 0 0 5px rgba(255, 255, 0, 0.1);
}
.loader .face.face2 .circle::before {
  background-color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color), 0 0 40px var(--main-color), 0 0 60px var(--main-color), 0 0 80px var(--main-color), 0 0 100px var(--main-color), 0 0 0 5px rgba(3, 169, 244, 0.1);
}

/* --------------------------- */
/* NAV */
/* --------------------------- */
#fp-nav ul li a span {
  width: 2em;
  border-radius: 2px;
  background-color: var(--main-color);
}

/* --------------------------- */
/* HEADER */
/* --------------------------- */
.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  height: 80px;
  align-items: center;
}
.nav-container a {
  font-size: 20px;
  font-weight: 100;
  margin-left: 30px;
}
.nav-container ul {
  list-style: none;
  display: flex;
}
.nav-container .icons {
  position: absolute;
  right: 30px;
}
.nav-container .icons i {
  margin: 0px 15px;
  font-size: 30px;
}

/* --------------------------- */
/* SECTION 1 */
/* --------------------------- */
.main-container .section1-container {
  display: flex;
  position: absolute;
  top: calc(88px + 5%);
  right: 0;
  width: calc(100% - 88px);
  height: 80vh;
  margin: 0;
  justify-content: center;
}
.main-container .section1-container .main-text {
  width: 50%;
}
.main-container .section1-container .main-text h1 {
  width: 560px;
  font-size: 120px;
  font-weight: 500;
  margin-bottom: 0;
}
.main-container .section1-container .main-text .typed {
  color: var(--secondary-red-color);
}
.main-container .section1-container .main-text .bars {
  width: 33%;
}
.main-container .section1-container .main-text .bars .separate-bar {
  transition: all 1s;
  width: 130px;
  height: 5px;
  background-color: var(--secondary-red-color);
  margin-top: 8px;
  border-radius: 100px;
}
.main-container .section1-container .main-text .bars .separate-bar2 {
  margin-left: 75px;
}
.main-container .section1-container .main-text .bars:hover .separate-bar1 {
  margin-left: 75px;
}
.main-container .section1-container .main-text .bars:hover .separate-bar2 {
  margin-left: 0;
}
.main-container .section1-container .main-text p {
  width: 300px;
  font-size: 30px;
  font-weight: 100;
}
.main-container .section1-container .main-img {
  position: relative;
  left: 0;
  width: 30%;
  height: 100%;
}
.main-container .section1-container .main-img img {
  height: 90%;
  transition: all 0.7s;
}
.main-container .downarrow-icon i {
  position: absolute;
  bottom: 3%;
  font-size: 40px;
  left: 50%;
  animation: bajar-subir 1s ease infinite;
}
.main-container .downarrow-icon a {
  text-decoration: none;
  transition: all 1s;
  color: var(--main-color);
}
.main-container .downarrow-icon a:hover {
  color: var(--secondary-red-color);
}

/*--------------------------*/
/* SECTION 2 */
/*--------------------------*/
.about_me_section .section2_text {
  margin: 2% auto;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about_me_section .section2_text h2 {
  display: inline-block;
  position: relative;
  font-size: 40px;
  transition: all 1s;
}
.about_me_section .section2_text h2::after, .about_me_section .section2_text h2::before {
  content: "";
  position: absolute;
  transition: all 1s;
  width: 120px;
  height: 3px;
  background-color: var(--main-color);
  top: 50%;
}
.about_me_section .section2_text h2::before {
  right: 205px;
}
.about_me_section .section2_text h2::after {
  left: 205px;
}
.about_me_section .section2_text h2:hover::after, .about_me_section .section2_text h2:hover::before {
  width: 0px;
}
.about_me_section .section2_text p {
  font-size: 1.3em;
}
.about_me_section .section2_text .stack_text {
  width: 100%;
}
.about_me_section .section2_text .svg-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 20%;
  justify-content: space-between;
}
.about_me_section .section2_text .svg-container div {
  transition: all 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_me_section .section2_text .svg-container div svg {
  font-size: 3em;
  height: 1em;
  margin-top: 25px;
  transition: all 0.5s;
}
.about_me_section .section2_text .svg-container div h4 {
  display: none;
  border: 1px solid var(--main-color);
  position: absolute;
  width: 100px;
  padding: 10px;
  margin-top: 5.5em;
  text-align: center;
}
.about_me_section .section2_text .svg-container div:hover h4 {
  display: block;
}
.about_me_section .section2_text .svg-container div:hover svg {
  transform: scale(1.2);
}
.about_me_section .learning-container {
  margin-top: 50px;
  height: 150px;
  width: 100%;
  display: flex;
}
.about_me_section .learning-container div {
  transition: all 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 87px;
}
.about_me_section .learning-container div svg {
  font-size: 3em;
  height: 1em;
  margin-top: 11px;
  transition: all 0.5s;
}
.about_me_section .learning-container div h4 {
  display: none;
  border: 1px solid var(--main-color);
  position: absolute;
  width: 100px;
  padding: 10px;
  margin-top: 5.5em;
  text-align: center;
}
.about_me_section .learning-container div:hover h4 {
  display: block;
}
.about_me_section .learning-container div:hover svg {
  transform: scale(1.3);
}
.about_me_section .cv-download {
  width: 100%;
  margin-top: 30px;
}
.about_me_section .cv-download a {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 100px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}
.about_me_section .cv-download a span {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--background-color);
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5em;
}
.about_me_section .cv-download a span:nth-child(2) {
  color: var(--main-color);
  background-color: var(--background-color);
  overflow: hidden;
  z-index: 2;
  transition: 0.5s;
  height: 101%;
  clip-path: polygon(60% 0, 100% 0%, 100% 100%, 60% 100%, 40% 50%);
}
.about_me_section .cv-download a span:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0% 50%);
}
.about_me_section .cv-download a span:nth-child(1):hover ~ span:nth-child(2) {
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 62%);
}

/*--------------------------*/
/* WORKS SECTION */
/*--------------------------*/
.work_section {
  max-width: 90%;
  height: 90%;
  margin: auto;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.work_section h4 {
  position: absolute;
  top: 5%;
  left: auto;
  font-size: 30px;
}
.work_section .fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work_section .container {
  width: 100%;
  height: 70%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work_section .container input[type=radio] {
  display: none;
}
.work_section .container .cards {
  position: relative;
  width: 100%;
  height: 100%;
}
.work_section .container .cards .card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s;
}
.work_section .container .cards .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}
.work_section .container #item-2:checked ~ .cards #label-workImg1,
.work_section .container #item-1:checked ~ .cards #label-workImg3,
.work_section .container #item-3:checked ~ .cards #label-workImg2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}
.work_section .container #item-3:checked ~ .cards #label-workImg1,
.work_section .container #item-1:checked ~ .cards #label-workImg2,
.work_section .container #item-2:checked ~ .cards #label-workImg3 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}
.work_section .container #item-1:checked ~ .cards #label-workImg1,
.work_section .container #item-2:checked ~ .cards #label-workImg2,
.work_section .container #item-3:checked ~ .cards #label-workImg3 {
  transform: translateX(0) scale(1);
  z-index: 1;
}

/*--------------------------*/
/* ANIMACIONES */
/*--------------------------*/
@keyframes bajar-subir {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes animate-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
