/*--------------------------*/
/* WORKS SECTION */
/*--------------------------*/

.work_section {
    max-width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 11%;
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

    h4{
        position: absolute;
        top: 10%;
        left: 32%;
        font-size: 30px;
        font-weight: 300;
    }

    .work_slider {
        border: 2px solid var(--hover-color);
        position: relative;
        top:  20%;
        left: 10%;
        width: 950px;
        height: 500px;
        margin: 20px;
        overflow: hidden;
        border-radius: 10px;

        .work_slide{
            position: absolute;
            width: 100%;
            height: 100%;
            clip-path: circle(0% at 0 50%);

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.active{
                clip-path: circle(150.0% at 0 50%);
                transition: all 1s;
            }

            .info_slide {
                position: absolute;
                color: #222;
                right: 0;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.514);
                margin-bottom: 20px;
                margin-right: 20px;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
                
                h2 {
                    font-size: 2em;
                    font-weight: 800;
                    margin: 0;

                    a{
                        text-decoration: none;
                        color: #222;
                        font-size: 20px;
                    }
                }

                p {
                    font-size: 1em;
                    font-weight: 400;
                }

            }
        }

        .work_navigation {
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            svg{
                z-index: 999;
                font-size: 2em;
                background-color: rgba(255,255,255,0.65);
                border-radius: 20px;
                width: 25px;
                height: 25px;
                padding: 10px;
                cursor: pointer;
            }
        }

        .work_navigation_visibility{
            z-index: 999;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: -40px;
            left: 40%;

            .slide-icon{
                z-index: 999;
                background-color:rgba(255,255,255,0.65);
                width: 20px;
                height: 10px;
                transform: translateY(-50px);
                margin: 0 6px;
                border-radius: 20px;
                cursor: pointer;
                box-shadow: 0 5px 25px rgb(1 1 1 / 20%);

                &.active {
                    background-color: #f23b4d80;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 375px){
    .work_section {
        margin-left: 0;
        margin-top: 0;

        .work_slider{
            width: 320px ;
            height: 200px ;

            .work_navigation{
                height: 100%;

                svg {
                    width: 10px;
                    height: 10px;
                }
            }

            .work_navigation_visibility {
                left: 30%;
            }

            .work_slide{
                .info_slide {
                    font-size: 7px;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px){
    .work_section {
        margin-left: 0;
        margin-top: 0;

        .work_slider{
            width: 90% !important;
            height: 200px !important;

            .work_navigation{
                height: 100%;

                svg {
                    width: 10px;
                    height: 10px;
                }
            }

            .work_navigation_visibility {
                left: 30%;
            }

            .work_slide{
                .info_slide {
                    font-size: 7px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .work_section {
        h4 {
            top: 120px;
            margin-left: -70px;
        }
        .work_slider{
            margin-top: 100px;
            width: 500px;
            height: 300px;

            .work_navigation {
                height: 300px;
            }
        }
    }
}


@media only screen and (max-width: 1025px){
    .work_section {
        h4{
            left: 25%;
        }

        .work_slider {
            left: 1%;
        }
    }
}