/*--------------------------*/
/* CONTACT SECTION */
/*--------------------------*/
.contact-section {
  max-width: 100%;
}
.contact-section h4 {
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
  font-weight: 300;
}
.contact-section .info-section {
  width: 300px;
  margin: 0;
  position: absolute;
  left: 20%;
}
.contact-section .info-section h5 {
  font-size: 25px;
}
.contact-section .info-section .email, .contact-section .info-section .adress, .contact-section .info-section .number-cel {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.contact-section .info-section .email h5, .contact-section .info-section .adress h5, .contact-section .info-section .number-cel h5 {
  margin: 4% 0 0 5%;
}
.contact-section .info-section .email div, .contact-section .info-section .adress div, .contact-section .info-section .number-cel div {
  width: 50px;
  height: 50px;
  background-color: var(--nav-color);
  border-radius: 50%;
  text-align: center;
}
.contact-section .info-section .email div i, .contact-section .info-section .adress div i, .contact-section .info-section .number-cel div i {
  position: relative;
  top: 30%;
}
.contact-section .info-section .email p, .contact-section .info-section .adress p, .contact-section .info-section .number-cel p {
  margin-top: 8px;
  margin-left: 22%;
}
.contact-section .profile-card {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: relative;
  margin: auto 20% auto auto;
  top: 0;
  overflow: hidden;
}
.contact-section .profile-card .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 1s;
}
.contact-section .profile-card .container img {
  width: 150px;
  position: absolute;
  top: 10%;
  border-radius: 50%;
}
.contact-section .profile-card .container h4 {
  position: absolute;
  top: 50%;
  font-size: 40px;
  margin: 0;
}
.contact-section .profile-card .container p {
  position: absolute;
  top: 60%;
  font-size: 25px;
}
.contact-section .profile-card .container img, .contact-section .profile-card .container h4, .contact-section .profile-card .container p, .contact-section .profile-card .container .profile-card__socialIcons i {
  opacity: 0.5;
  transition: all 1s;
}
.contact-section .profile-card .container .profile-card__socialIcons {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  text-decoration: none;
}
.contact-section .profile-card .container .profile-card__socialIcons a {
  text-decoration: none;
  color: var(--main-color);
}
.contact-section .profile-card .container .profile-card__socialIcons i {
  font-size: 40px;
  margin: 30px;
  position: relative;
  top: 100%;
  text-decoration: none;
}
.contact-section .profile-card .container .profile-card__socialIcons i ~ .fa-linkedin {
  transition: all 0.5s;
}
.contact-section .profile-card .container .profile-card__socialIcons i ~ .fa-facebook-square {
  transition: all 1.3s;
}
.contact-section .profile-card .container .profile-card__socialIcons i ~ .fa-whatsapp {
  transition: all 2s;
}
.contact-section .profile-card:hover .container img, .contact-section .profile-card:hover .container h4, .contact-section .profile-card:hover .container p, .contact-section .profile-card:hover .container .profile-card__socialIcons i {
  opacity: 1;
}
.contact-section .profile-card:hover .container img {
  box-shadow: -1px 1px 20px 7px rgba(0, 0, 0, 0.98);
  -webkit-box-shadow: -1px 1px 20px 7px rgba(0, 0, 0, 0.98);
  -moz-box-shadow: -1px 1px 20px 7px rgba(0, 0, 0, 0.98);
  top: 8%;
}
.contact-section .profile-card:hover .container h4 {
  top: 48%;
}
.contact-section .profile-card:hover .container p {
  top: 58%;
}
.contact-section .profile-card:hover .profile-card__socialIcons i {
  top: 0px;
}

@media only screen and (max-width: 425px) {
  .contact-section .contact-section_main {
    margin-left: -100px;
  }
  .contact-section .contact-section_main .profile-card {
    width: 70% !important;
  }
}
@media only screen and (max-width: 1025px) {
  .contact-section .profile-card {
    margin: -1% 5% auto auto;
  }
}
@media only screen and (max-width: 600px) {
  .contact-section h4 {
    margin-bottom: 0px;
  }
  .contact-section .contact-section_main {
    display: flex;
    flex-direction: column;
  }
  .contact-section .contact-section_main .info-section {
    position: relative;
    left: 30px;
  }
  .contact-section .contact-section_main .info-section div {
    align-items: center;
  }
  .contact-section .contact-section_main .info-section div h5 {
    display: none;
  }
  .contact-section .contact-section_main .info-section div p {
    position: absolute;
  }
  .contact-section .contact-section_main .profile-card {
    width: 85%;
    position: relative;
    margin-left: 30px;
    margin-top: 5%;
    height: 220px;
  }
  .contact-section .contact-section_main .profile-card img {
    width: 100px;
    height: 100px;
  }
  .contact-section .contact-section_main .profile-card h4 {
    display: none;
  }
  .contact-section .contact-section_main .profile-card p {
    transition: all 1s;
  }
  .contact-section .contact-section_main .profile-card .container:hover p {
    opacity: 0;
  }
}
@media only screen and (max-width: 769px) {
  .contact-section h4 {
    margin-bottom: 0px;
  }
  .contact-section .contact-section_main {
    display: flex;
    flex-direction: column;
  }
  .contact-section .contact-section_main .info-section {
    position: relative;
    left: 30%;
  }
  .contact-section .contact-section_main .info-section div {
    align-items: center;
  }
  .contact-section .contact-section_main .info-section div h5 {
    display: none;
  }
  .contact-section .contact-section_main .info-section div p {
    position: absolute;
  }
  .contact-section .contact-section_main .profile-card {
    position: relative;
    margin-left: 25%;
    margin-top: 5%;
    height: 220px;
  }
  .contact-section .contact-section_main .profile-card img {
    width: 100px;
    height: 100px;
  }
  .contact-section .contact-section_main .profile-card h4 {
    display: none;
  }
  .contact-section .contact-section_main .profile-card p {
    transition: all 1s;
  }
  .contact-section .contact-section_main .profile-card .container:hover p {
    opacity: 0;
  }
}
/*--------------------------*/
/* ANIMACIONES */
/*--------------------------*/
@keyframes bajar-subir {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes animate-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=contact_section.css.map */
